/* Remove margens e espaçamentos padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração básica do documento */

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

button,
input {
    border: none;
    outline: none;
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}