@import url("./reset.css");
@import url("./variables.css");
@import url("./global.css");
@import url("./navbar.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./categories.css");
@import url("./products.css");
@import url("./filters.css");
@import url("./footer.css");

@import url("./responsive.css");    * 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
.section-title{
    text-align: left;
    padding-left: 5px;
    margin-bottom: 30px;
}
