.card {
    background: #fff;
    border-radius: 18px;
    border: 1px solid transparent;

    box-shadow: var(--shadow-sm);

    transition:
        transform .25s ease,
        box-shadow .25s ease,
        border-color .25s ease;
    cursor: pointer;
}

.card:hover{

    border:1px solid transparent;

    background:

        linear-gradient(white, white) padding-box,
        linear-gradient(
            125deg,
            var(--primary),
            #17e4ff
        ) border-box;

}

.category-card:hover{
    border:1px solid transparent;

    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(
            125deg,
            var(--primary),
            #1eddff
        ) border-box;
}