.categories{
    margin:60px 0;
}
.categories h2{
    margin-bottom:25px;
    font-size:28px;
}
.category-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}
.category-card{

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:35px;
    gap:18px;
    min-height:140px;
}
.category-card:hover{

    transform:translateY(-6px);
    box-shadow:var(--shadow-md);

}
.category-card svg{
    width: 30px;
    height:30px;
    color:var(--primary);
}
.category-card span{
    font-weight:600;
    font-size:18px;
}